lesson1/ex01/obj/*
lesson1/ex01/bin/*
lesson1/ex02/obj/*
lesson1/ex02/bin/*
lesson1/ex03/obj/*
lesson1/ex03/bin/*
lesson1/ex04/obj/*
lesson1/ex04/bin/*

lesson2/ex01/obj/*
lesson2/ex01/bin/*
lesson2/ex02/obj/*
lesson2/ex02/bin/*
lesson2/ex03/obj/*
lesson2/ex03/bin/*

lesson3/ex01/obj/*
lesson3/ex01/bin/*
lesson3/ex02/obj/*
lesson3/ex02/bin/*
lesson3/ex03/obj/*
lesson3/ex03/bin/*

lesson4/ex01/obj/*
lesson4/ex01/bin/*
lesson4/ex02/obj/*
lesson4/ex02/bin/*
lesson4/ex03/obj/*
lesson4/ex03/bin/*

lesson5/ex01/obj/*
lesson5/ex01/bin/*
lesson5/ex02/obj/*
lesson5/ex02/bin/*
lesson5/ex03/obj/*
lesson5/ex03/bin/*